body {
  background-color: #f9f7fe;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  border-radius: 10px;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 18px;
  width: 450px;
}
.search-button {
  background-color: #885df1;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  padding: 15px 18px;
  width: 100px;
}
header {
  border-bottom: 2px solid #f9f7fe;
  padding: 0 0 30px 0;
}
footer {
  border-top: 2px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
a {
  color: #885df1;
}
strong {
  color: red;
}
p {
  color: rgba(0, 0, 0, 0.5);
}
.data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px 0;
}
h1 {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}
